@model UserDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="profile">

    <div class="profile-img">
        @if (Model.Photo?.Url is not null)
        {
            <img class="profile-photo" src="@Model.Photo.Url" alt="user.png"/>
        }
        else
        {
            <img class="profile-photo" src="~/images/default-user-image.jpg" alt="user.png"/>
        }
        <div class="profile-img-buttons">
            <button type="button" class="button">
                <a asp-controller="Account" asp-action="EditProfile">Edit</a>
            </button>
            <button class="button" onclick="openFileChooser()">Change photo</button>
            <form enctype="multipart/form-data" style="display: none" id="choosePhotoForm" asp-controller="Account" asp-action="SetProfilePhoto">
                <input name="file" style="display: none" id="userPhoto" accept="image/png, image/gif, image/jpeg" onchange="submitForm()" type="file">
            </form>
        </div>
        <div class="profile-info">
            <p>
                <b>Date Of Birth:</b> @(Model.DateOfBirth != null ? Model.DateOfBirth : "Unknown")
            </p>
            <p>
                <b>Gender:</b> @(Model.Gender ?? "Unknown")
            </p>
            <p>
                <b>Location:</b> <img src="@Model.Country?.FlagUrl" alt="" style="width: 20px"> @Model.Country?.Name
            </p>
        </div>
    </div>
    <div class="profile-details">
        <div class="profile-details-header">
            <h1>@Model.FullName</h1>
            <p>User since: @Model.CreatedAt.ToString()</p>
        </div>
        <div class="profile-details-body">
            <p>Description:</p>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
<script>
    let formToSubmitWithPhoto = document.querySelector('#choosePhotoForm');
    let submitForm = () => {
        formToSubmitWithPhoto.submit();
    }
   
    
    let openFileChooser = () => {
        document.getElementById("userPhoto").click();
    }
</script>