@model ForMyPageResponse

@{
    Layout = "_Layout";
}
<div class="w-100">
    <form asp-controller="ForMyPage" asp-action="ForMyPage">

        <div class="d-flex justify-content-start">
            <div class="d-flex">
                <select asp-for="PostOption">
                    <option value="AllRecent">All Recent</option>
                    <option value="Subscribed">Subscribed</option>
                </select>
                <h2 class="ms-2">Amount:</h2>
                <input asp-for="AmountPerPage">
                <button class="button ms-2">Show</button>
            </div>

        </div>
        <div class="d-flex justify-content-center flex-column">
            @foreach (var post in Model.Posts)
            {
                <div class="post w-100 border border-dark rounded mb-3 mt-3">

                    @await Component.InvokeAsync("ForMyPagePost", new { post = post })
                    <div class="d-flex justify-content-end">
                        <div class="d-flex justify-content-around w-25 mt-3 mb-1 align-items-center">
                            <div class="d-flex">
                                <p>@post.Likes</p>
                                <button class="me-2 ms-2 button" asp-controller="ForMyPage" asp-action="Like" asp-route-guid="@post.Id">
                                    @if (post.IsLiked)
                                    {
                                        <i class="fa-2x fa-solid fa-heart"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-2x fa-regular fa-heart"></i>
                                    }
                                </button>
                            </div>
                            <button class="me-2">
                                <i class="fa-2x fa-regular fa-bookmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                @for (int i = 0; i < Model.NumberOfPages; ++i)
                {
                    <li class="page-item">
                        @if ((int)ViewData["ActivePage"] == i + 1)
                        {
                            <button class="button bg-blue" asp-controller="ForMyPage" asp-action="NextPage" asp-route-page="@(i+1)">@(i + 1)</button>
                        }
                        else
                        {
                            <button class="button" asp-controller="ForMyPage" asp-action="NextPage" asp-route-page="@(i+1)">@(i + 1)</button>
                        }
                    </li>
                }
            </ul>
        </div>
    </form>
</div>